/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(225, 220, 220);
}

/* style icona aggiungi form */
.add-post-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #ffc247;
    padding: 6px 9px;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(241, 240, 240, 0.2);
    transition: all 0.5s;
}

.add-post-icon:hover {
    scale: 1.1;
}

/* style form */
form {
    width: 500px;
    background-color: white;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

/* style per loader */

#loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* style single page post */
.jumbotron {
    padding: 1.5rem;
    font-size: 0.9rem;
    max-width: 100vh;
}

.small-img {
    max-width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.display-4 {
    font-size: 1.8rem;
}

.lead {
    font-size: 1.1rem;
}